<!DOCTYPE html>
<html>
    <head>
        <title>Logged in</title>
    </head>

    <body>
        <h1>You have logged in successfully</h1>

        <h3>Logout securely</h3>
        <a href="/logout">logout</a>

    </body>
</html>