<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>


    <body>
        <h1>Login page</h1>
        <form action="/login" method="post">
            <label for="">Email</label>
            <input type="text" name="username" placeholder="email"> <br><br>

            <label for="">Password</label>
            <input type="text" name="password" placeholder="password"> <br><br>

            <button>Submit</button> <br>

            <a href="/register">Create an account</a>
        </form>
    </body>
</html>

