<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>

    <body>
        <h1>Create a user</h1>

        <form action="/register" method="post">
            <label for="">Email</label>
            <input type="text" name="username" placeholder="email"> <br><br>

            <label for="">Password</label>
            <input type="text" name="password" placeholder="password"> <br><br>

            <button>Submit</button> <br>
        </form>

        <a href="/">Login</a> <br> <br>

        <p>Try accessing the homepage before making an account <br>
            <a href="http://localhost:3000/home"> click me</a> <br>
            This will redirect you to the login page as you have not logged in</p>

    </body>
</html>